@font-face {
  font-family: "Lemon Milk";
  src: url('/font/LemonMilkMedium.otf');
}

body {
  font-family: "Lemon Milk";
  color: #333;
}

h2 {
  font-size: 24pt;
}

.gen      { grid-area: gen; }
.wave     { grid-area: wave; }
.settings { grid-area: settings; }
.play     { grid-area: play; }

.grid-container {
  display: grid;
  grid-template-areas:
  'gen settings wave'
  'gen settings play';
  grid-gap: 10px;
  # background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.shadow {
  box-shadow: -4px 4px 2px -2px rgba(0,0,0,0.4)
}

ul {
  list-style-type: none;
}

.wave li {
  float: left;
}

input[type="radio"] {
  display: none;
}

.button {
  margin: 5pt;
}

label {
  font-size: 12pt;
  padding: 4pt;
}

button {
  font-family: "Lemon Milk";
  color: #333;
  border: 4pt solid #08C;
  border-radius: 4pt;
  background: #08C;
  position: relative;
  box-shadow:
  1px 1px #5AE,
  2px 2px #5AE,
  3px 3px #5AE;
  transition: all 0.1s ease-in;
}

button:hover {
  background: #0AF;
  border: 4pt solid #0AF;
}

button:active {
  background: #0AF;
  border: 4pt solid #0AF;
  box-shadow: none;
  top: 0px;
  left: 0px;
}

input[type="radio"] + label {
  border-radius: 4pt;
  background: #08C;
  position: relative;
  box-shadow:
  1px 1px #5AE,
  2px 2px #5AE,
  3px 3px #5AE;
  transition: all 0.1s ease-in;
}

input[type="radio"]:hover + label {
  background: #0AF;
}

input[type="radio"]:checked + label {
  background: #0AF;
  box-shadow: none;
  top: 0px;
  left: 0px;
}

input[type="range"] {
  -webkit-appearance: none;
  background: #CCC;
  border-radius: 4pt;
  height: 25px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

input[type="range"]:hover {
  opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #08C;
  border-radius: 4pt;
  width: 25px;
  height: 25px;
  border: none;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  background: #08C;
  border-radius: 4pt;
  width: 25px;
  height: 25px;
  border: none;
  cursor: pointer;
}

.right {
  text-align: right;
}

.center {
  margin: auto;
  width: 80%;
}

td {
  width: 50%;
}

#status_line {
  font-size: 12pt;
}
